
<div class="container-fluid">
  <div class="col-lg-12  text-center text-white  add-gust">

    <div *ngIf="order" class="row   text-white ">
      <div class="col-lg-12 text-center text-white">
        <div *ngIf ="success" style="color:green; background:white; padding:2%">
          {{success}}
        </div>
        <div *ngIf ="fail" style="color:orange; background:white; padding:2%">
          {{fail}}
        </div>
        <br />
      </div>
      <div class="col-lg-12 justify-content-center">
        <h5>Order Summary</h5>
        <hr />
        Total with out Vat: {{ order.totalExcVat}} Birr<br />
        Service charge :{{ order.servicecharge}} Birr<br />
        Vat: {{ order.vat}} Birr<br />
        Total Including Vat {{ order.totalIncVat}} Birr<br />
        <br />
        <br />
        <button class="btn btn-submit" (click)="onClickSubmit()" style="border-radius: 0px; background: white; width: 200px">Submit </button>
      </div> 
    </div>
    
  </div>
  <div *ngIf="!order" class="row text-center text-white">
    <div class="col-lg-12 ">
      <h5>
        No order item added. Please, Go to orders to add items.
      </h5>
    </div>
    <br />
    <div class="col-lg-12 " (click)="navigateToOrder()">
      <h5> Back to Orders</h5>
    </div>
  </div>
</div>
