/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

html, body {
  height: 100%;
  width:100%;
  padding:0px;
  margin:0%
}
.a {
    color:orange !important
}
.container-fluid {
  height: 100% !important;
  width: 100% !important;
  padding:0% !important
} 
code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.inputtest {
  margin-top: -8px;
  width: 100px;
}

.numinput {
  padding: 15px;
} 
.navbar{
    background-color:black; 
}
.container-fluid {
  height: 100%;
  width: 100%;
} 
 
