a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
} 
.navbar {
  border-color: transparent !important;
  margin-bottom: 0 !important; 
  width: 100%;
}
.navbar-brand {
  margin-bottom: 0px !important;
  border-color:transparent
}
.nav {
  margin: auto;
  height:10%;
  padding: 1.6%;
  overflow: hidden;
  width: 100%;
  background: black
}

@media (max-width: 575.98px) {
  .nav {
    font-size: 11px;
    padding: 2%;
  }

}
@media (min-width: 576px) and (max-width: 767.98px) {
  .nav {
    font-size: 12px;
    padding: 2%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .nav {
    font-size: 12px;
    padding: 2%;
  }
}
