<header> 
  <ul class=" nav justify-content-center text-white ">
    <li class="nav-item"
        [routerLinkActive]="['link-active']"
        [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link text-white" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link text-white" *ngIf="!userData.isLoggedIn" [routerLink]='["/login"]'>Login</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link text-white" *ngIf="!userData.isLoggedIn" [routerLink]='["/register"]'>Register</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link text-white" *ngIf="userData.isLoggedIn && userData.userRole==userRole.User" [routerLink]='["/user"]' [routerLink]=''>User</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link text-white" *ngIf="userData.isLoggedIn && userData.userRole==userRole.Admin" [routerLink]='["/admin"]' [routerLink]=''>Manage</a>
    </li>

    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="userData.isLoggedIn">
      <a class="nav-link text-white">Welcome <b>{{userData.firstName}}</b> </a>
    </li>

    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link text-white" *ngIf="userData.isLoggedIn" (click)=logout() [routerLink]=''>Logout</a>
    </li>
  </ul>
</header>
