a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.navbar {
  border-color: transparent !important;
  margin-bottom: 0 !important; 
  width: 100%;
}
.navbar-brand {
  margin-bottom: 0px !important;
  border-color:transparent
}
.nav {
  margin: auto;
  height:6%;
  padding: 1%;
  overflow: hidden;
  width: 100%;
  background: black
}
/*.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}*/
