.admin-list {
  height: 80vh;
  width: 100%;
  margin: 0% !important;
  background: white;
  padding: 1%;
  overflow-y: scroll;
  overflow-x: hidden
}
.table {
  overflow-y: scroll;
  overflow-x: hidden
}

tbody{ height: 90%;
  overflow-y: scroll;
  overflow-x: hidden
}
