 <div class="admin-list"> 
  <h5>Romi Hotel Manu List</h5>
  <p>
    <a (click)="navigateToAdd()">Create New</a>
  </p>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Unit Price
          </th>
          <th>
            Decription
          </th>
          <th>
            Manage
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of menus">
          <td>
            {{menu.name}}
          </td>
          <td>
            {{menu.unitPrice}}
          </td>
          <td>
            {{menu.description}}
          </td>
          <td>
            <a (click)="navigateToEdit(menu.menuID)">Edit</a> |
            <a>Details</a> |
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

