.pic-row {
  background-image: url(/assets/ketfo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top:-0.5% !important;
  padding:0% !important;
}

.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 160px;
  color: white;
  margin-top: 4%;
}

.hr1, .hr2, .hr3, .hr4{
    height:2px;
    color: white;
    background:white;
}
.hr1{
    width:30%
}
.hr2 {
  width: 25%
}
.hr3 {
  width: 20%
}
.hr4 {
  width: 15%;
  margin-bottom:10%
}
.home-button-div {
  text-align: center;
}

.btn-home {
  width: 25%;
  height: 10vh;
  margin: 2%;
  border: none;
  border-radius: 0;
  background:white;
  font-size:40px;
}

.bottom-message{
    color:white;
    font-size:40px;
}

@media (max-width: 575.98px) {
  .logo {
    font-size: 80px;
  }
  .pic-row { 
    background-size: 250%; 
 }
  .btn-home {
    width: 80%;    
    font-size: 20px;
  }

  .bottom-message {
     margin-top:10%; 
    font-size: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .logo {
    font-size: 80px;
  }
  .pic-row { 
    background-size: 250%; 
 }
  .btn-home {
    width: 80%; 
    font-size: 20px;
  }

  .bottom-message {
    margin-top: 10%; 
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .logo {
    font-size: 80px;
  }
  .pic-row { 
    background-size: 250%; 
  }
  .btn-home {
    width: 80%; 
    font-size: 20px;
  }

  .bottom-message {
    margin-top: 10%; 
    font-size: 20px;
  }
}
