body {
} 

.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 160px !important;
  color: white;
  margin-top: 4%;
}
.pic-row {
  background-image: url(/assets/ketfo.jpg);
  background-repeat: no-repeat;
  background-size: 100%; 
}
.fixed-row-bottom {  
  background:red
}
.food  {
  background-color: rgba(0, 0, 0, 0.8);
  color: white; 
  padding:2%;
  cursor:pointer
}
.bottom-message {
  color: white;
  font-size: 50px !important;
}

@media (max-width: 575.98px) {
  .logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px !important;
    color: white;
    margin: auto;
    margin-top: 30%
  }
  .pic-row {
    background-image: url(/assets/ketfo.jpg);
    background-repeat: no-repeat;
    background-size: 300%;
    background-position:-100px
  }
  .bottom-message {
    color: white;
    font-size: 30px !important;
    padding-top: 6%
  }
  .food {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4%;
    margin-top:1%;
    width: 100% !important
  }
}
 
@media (min-width: 576px) and (max-width: 767.98px) {
  .logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px !important;
    color: white;
    margin: auto;
    margin-top: 15%
  }
  .pic-row {
    height: auto
  }
  .food {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 1%;
    padding: 4%
  } 
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px !important;
    color: white;
    margin: auto;
    margin-top: 15%
  }
  .pic-row {
    height: auto
  }

  .food {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 1%;
    padding: 4%
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px !important;
    color: white;
    margin-top: 15%
  }
  .food {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 1%;
    padding: 4%
  }
}

@media (min-width: 1200px) {

} 
