<div class="container-fluid">
  <div class="row text-center pic-row">
    <img src="/assets/burger.png" alt="burger" class="img">
    <div class="col-md-5 col-12 ">
      <h1 class="text-center logo">ሮሚ ሆቴል</h1>
    </div>
  </div>
  <div class="row justify-content-center fixed-row-bottom mb-3 w-100">
    <div class="col-lg-4 col-12 food">
      <h4 class="text-center"> ምግቦች</h4>
    </div> 
    <br />
    <div class="col-lg-4 col-12 drink">
      <h4 class="text-center"> መጠጦች </h4>
    </div> 
    <div class="col-lg-4 col-12 ing ">
      <h4 class="text-center"> ባልትና </h4>
    </div>
    <br />
  </div>
</div>


<!--<div class="col-md-4 col-12 food">
  <h4 class="text-center"> ምግቦች</h4>
</div>
<div class="col-md-4 col-12 drink">
  <h4 class="text-center"> መጠጦች </h4>
</div>
<div class="col-md-4 col-12 ing ">
  <h4 class="text-center"> ባልትና </h4>
</div>-->
