<div class="container-fluid  mh-100 h-90 pic-row"> 
  <div class="row text-center h-100 ">
    <div class="col-lg-12  col-12" >
      <h1 class="text-center logo">ሮሚ ሆቴል</h1>
    </div>
    <div class="col-lg-12 col-12" style=" margin-bottom : 1%" [routerLink]='["/order"]'>
      <div class= "food h-20"> <h4 class="text-center"> ምግቦች እና መጠጦች</h4></div>
    </div>
    <div class="col-lg-12  col-12" style=" margin-bottom : 1%" [routerLink]='["/order"]'>
      <div class="food h-20"> <h4 class="text-center" > የባልትና ውጤቶች</h4></div>
    </div>
    <div class="col-lg-12  col-12" style=" margin-bottom : 1%" [routerLink]='["/order"]'> 
      <div class="food h-20">
        <h1 class="text-center bottom-message">ይዘዙን! ...ባሉበት እናደርሳለን! </h1>
      </div>
    </div>
  </div> 
</div>

 
