<div class="container-fluid">
  <div class="row text-center pic-row h-100">
    <h1 class="text-center logo">ሮሚ ሆቴል</h1>
    <!--<img src="/assets/ketfo2.jpg" alt="burger" class="img">-->
  </div>
  <div class="row justify-content-center fixed-row-bottom mb-3 w-100">
    <div class="col-lg-4 col-12 ">
      <div class="ml-1 food h-70"> <h4 class="text-center"> ምግቦች</h4></div>
    </div>
    <br />
    <div class="col-lg-4 col-12 ">
      <div class="ml-1 drink h-70"> <h4 class="text-center"> መጠጦች </h4></div>
    </div>
    <div class="col-lg-4 col-12 ">
      <div class="ml-1 ing h-70">  <h4 class="text-center"> ባልትና </h4></div>
    </div>
    <br />
    <div class="col-lg-12 col-12   ">
      <h1 class="text-center bottom-message">ይዘዙን! ...ባሉበት እናደርሳለን! </h1>
      <!--<img src="/assets/ketfo2.jpg" alt="burger" class="img">-->
    </div>
  </div>
 
</div>


<!--<div class="col-md-4 col-12 food">
  <h4 class="text-center"> ምግቦች</h4>
</div>
<div class="col-md-4 col-12 drink">
  <h4 class="text-center"> መጠጦች </h4>
</div>
<div class="col-md-4 col-12 ing ">
  <h4 class="text-center"> ባልትና </h4>
</div>-->
